.container{
  width:600px;
  margin:auto;
  padding:20px;
  font-family:Arial;
}

.form input{
  margin:5px;
  padding:8px;
}

button{
  padding:8px 12px;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th,td{
  border:1px solid #ccc;
  padding:10px;
  text-align:center;
}

th{
  background:#f4f4f4;
}