body {
  font-family: Arial;
  padding: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.card {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
}